{% extends 'headerLayout.twig' %}
{% block content %}
    <div class="container">
        <form class=" " method="post" action="{{ 'profile'|url }}">
            <h2 class="form-signin-heading">{{ webInfo.title }}</h2>
            <div class="form-group {% if errors['inputName'] %}has-error{% endif %}">
                <label for="inputName" class="sr-only">Email</label>
                <input type="text" id="inputName" name="inputName" class="form-control" placeholder="Nombre" autofocus
                       value="{{ user.userName }}">
            </div>
            {{ generateAlert(errors, 'inputName') }}
            <div class=" form-group {% if errors['inputEmail'] %}has-error{% endif %}">
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="text" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email"
                       value="{{ user.userEmail }}">
            </div>
            {{ generateAlert(errors, 'inputEmail') }}

            <div class=" form-group {% if errors['newPassword1'] %}has-error{% endif %}">
                <label for="newPassword1" class="sr-only">Password</label>
                <input type="password" id="newPassword1" class="form-control" name="newPassword1"
                       placeholder="New password">
            </div>
            {{ generateAlert(errors, 'newPassword1') }}

            <div class=" form-group {% if errors['newPassword2'] %}has-error{% endif %}">
                <label for="newPassword2" class="sr-only">Password </label>
                <input type="password" id="newPassword2" class="form-control" name="newPassword2"
                       placeholder="Retype the new password">
            </div>
            {{ generateAlert(errors, 'newPassword2') }}
            <div class="buttonIndex">
            <button class="btn btn-lg btn-success" type="submit">Register</button>
            </div>
        </form>
    </div> <!-- /container -->
{% endblock %}