{% extends 'headerLayout.twig' %}
{% block content %}
    <div class="container">
        <div class="header">
            <div class="row">
                <h1 class="h2">{{ webInfo.title }}</h1>
                <h1 class="h2">{{ webInfo.artist }}</h1>
            </div>
            <div class="row">
                <img class="icon" src="{{ webInfo.image }}" alt="Logo de {{ webInfo.image }}">
            </div>
        </div>

        <table class="table table-hover">
            <thead>

            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Genre</th>
            </tr>
            </thead>
            <tbody>
            {% for track in tracks %}
                <tr>
                    <td class="row">{{ track.name }}</td>
                    <td class="row">{{ track.rating }}</td>
                    <td class="row">{{ track.genre }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="buttonIndex">
            <form action="{{ 'album/add' | url }}" method="get">
                <input type="hidden" name="album" value="{{ tracks[0].album }}">
                <button type="submit" class="btn btn-success "> Add</button>
            </form>
        </div>
    </div><!-- /.container -->
{% endblock %}