{% extends 'headerLayout.twig' %}
{% block content %}
    <div class="container">
        <div class="header">
            <div class="row">
                <h1 class="h2">{{ webInfo.title }}</h1>
                <h2 class="h2">{{ tracks[0].artist }}</h2>
                <h2 class="h2">{{ tracks[0].genre }}</h2>
            </div>
            <div class="row">
                <img class="icon" src="{{ webInfo.image }}" alt="Logo de {{ webInfo.image }}">
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Bpm</th>
            </tr>
            </thead>
            <tbody>
            {% for track in tracks %}
                <tr>
                    <td>  {% if session.userId %}
                        <a href="/album/{{ tracks[0].album }}/track/{{ track.id }}">
                            {% endif %}
                            {{ track.name }}
                        </a>
                    </td>
                    <td class="row">{{ track.rating }}</td>
                    <td class="row">{{ track.bpm }}</td>
                {% if session.userId %}
                    <td>
                        <form action="/album/{{ tracks[0].album }}" method="POST" id="deleteAlbum-{{ track.id }}">
                            <input type="hidden" name="id" value="{{ track.id }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" id="deleteForm" class="btn btn-link btn-alert"><span
                                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </form>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if session.userId %}
            <a href="/album/{{ tracks[0].album }}/track/new">
                {{ track.name }}
            </a>
            <div class="buttonIndex">
                <button type="submit" class="btn  btn-lg btn-success "><a href="/album/{{ tracks[0].album }}/add">
                        Add</a>
                </button>
            </div>
        {% endif %}
    </div><!-- /.container -->
{% endblock %}