{% extends 'headerLayout.twig' %}
{% block content %}
    <div class="container">
        <h1>{{ webInfo.h1 }}</h1>
        <form method="post">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group  {% if errors['name'] %}has-error{% endif %}">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Track's Name"
                               value="{{ track.name }}">
                    </div>
                    {{ generateAlert(errors, 'name') }}
                </div>
                <div class="col-lg-6">
                    <div class="form-group  {% if errors['album'] %}has-error{% endif %}">
                        <label for="album">Album</label>
                        <input type="text" class="form-control" id="album" name="album" placeholder="Album name"
                               value="{{ track.album }}">
                    </div>
                    {{ generateAlert(errors, 'album') }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group  {% if errors['genre'] %}has-error{% endif %}">
                        <label for="genre">Genre</label>
                        <input type="text" class="form-control" id="genre" name="genre" placeholder="Track's Genre"
                               value="{{ track.genre }}">
                    </div>
                    {{ generateAlert(errors, 'genre') }}
                </div>
                <div class="col-lg-6">
                    <div class="form-group  {% if errors['artist'] %}has-error{% endif %}">
                        <label for="artist">Artist</label>
                        <input type="text" class="form-control" id="artist" name="artist" placeholder="Track's Artist"
                               value="{{ track.artist }}">
                    </div>
                    {{ generateAlert(errors, 'artist') }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">

                    <label for="track_number">Track Number</label>
                    <input type="text" class="form-control" id="track_number" name="track_number"
                           placeholder="Track's Number"
                           value="{{ track.track_number }}">
                </div>


                <div class="col-lg-6">
                    <label for="rating">Rating</label>
                    <input type="text" class="form-control" id="rating" name="rating" placeholder="Track's Rating"
                           value="{{ track.rating }}">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">

                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name="location" placeholder="Track's Location"
                           value="{{ track.location }}">
                </div>
                <div class="col-lg-4">
                    <label for="bpm">BPM</label>
                    <input type="text" class="form-control" id="bpm" name="bpm" placeholder="Track's Bpm"
                           value="{{ track.bpm }}">
                </div>

                <div class="col-lg-4">
                    <label for="size">Track Size</label>
                    <input type="number" class="form-control" id="size" name="size" placeholder="Track's Size"
                           value="{{ track.size }}">
                </div>
            </div>
            <div class="buttonIndex">
                <input type="hidden" name="_method" value="{{ webInfo.method }}">
                <button type="submit" class="btn btn-success">{{ webInfo.submit }}</button>
            </div>
        </form>
    </div><!-- /.container -->
{% endblock %}